/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
}
body {
    font-family: Inter, Tahoma, Verdana, sans-serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
}
h1, h2 {
    font-family: 'DM Serif Display', 'Palatino Linotype', Palatino, serif;
    margin: 0;
    padding-top: 2rem;
}
h1 {
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
}
#tagline {
    font-style: italic;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        "header header header header header"
        "pairing pairing pairing arial georgia"
        "bobwhite-quail bobwhite-quail readability readability readability"
        "bobwhite-quail bobwhite-quail line-length line-length line-length"
        "typeface typeface typeface helvetica helvetica"
        "typeface typeface typeface . ."
        "footer footer footer footer footer";
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    font-size: 1.75rem;
    text-align: center;
}
section {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
}
#arial, #georgia {
    padding: 2.5rem 1rem;
}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    margin: 0;
    padding: 3rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
}
#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 3rem 1rem 3rem 3rem;
}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    padding: 1rem;
}
#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    padding: 1rem;
}
#readability, #line-length {
    padding-right: 3rem;
}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    margin: 3rem;
    padding: 2rem;
}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    text-shadow: .05em .05em .1em #000;
    padding: 1.5rem 3rem;
}
footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    padding: .5rem;
    font-size: 1.25rem;
    text-align: center;
}

/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */
@media screen and (max-width: 720px) {
    
    body {
        margin: 0;
    }
    header img {
        display: none;
    }
    #container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, auto);
        grid-template-areas: 
        "header header"
        "arial georgia"
        "pairing pairing"
        "bobwhite-quail bobwhite-quail"
        "readability readability"
        "line-length line-length"
        "helvetica helvetica"
        "typeface typeface"
        "footer footer";
    }
    header {
        padding: 1.5rem;
    }
    h1, h2 {
        padding-top: 1rem;
    }
    #arial, #georgia {
        padding: .5rem;
    }
    #pairing {
        padding: 1.75rem;
    }
    #bobwhite-quail {
        padding: 1rem;
    }
    #readability, #line-length {
        padding: 1rem;
    }
    #helvetica {
        margin: 0;
        padding: 1rem;
    }
    #typeface {
        padding: 1rem;
    }
}